<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.merchant.mapper.MerchantAuthMapper">

    <resultMap id="BaseResultMap" type="com.cloud.merchant.module.entity.MerchantAuth">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="merchantId" column="merchant_id" jdbcType="BIGINT"/>
        <result property="businessLicenseNumber" column="business_license_number" jdbcType="VARCHAR"/>
        <result property="businessLicenseUrl" column="business_license_url" jdbcType="VARCHAR"/>
        <result property="idCardFrontUrl" column="id_card_front_url" jdbcType="VARCHAR"/>
        <result property="idCardBackUrl" column="id_card_back_url" jdbcType="VARCHAR"/>
        <result property="contactPhone" column="contact_phone" jdbcType="VARCHAR"/>
        <result property="contactAddress" column="contact_address" jdbcType="VARCHAR"/>
        <result property="authStatus" column="auth_status" jdbcType="TINYINT"/>
        <result property="authRemark" column="auth_remark" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,merchant_id,business_license_number,business_license_url,
        id_card_front_url,id_card_back_url,contact_phone,contact_address,
        auth_status,auth_remark,created_at,updated_at,create_by,update_by,deleted
    </sql>
</mapper>