spring:
  redis:
    host: 127.0.0.1
    port: 16379
    password: root
    database: 3
    timeout: 6000ms
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:13306/product_db?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      pool-name: ProductHikariCP
      minimum-idle: 5
      maximum-pool-size: 20
      auto-commit: true
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: SELECT 1
      leak-detection-threshold: 60000
  data:
    redis:
      host: 127.0.0.1
      port: 16379
      password: root
      database: 3
      timeout: 6000ms
      lettuce:
        pool:
          max-active: 16
          max-wait: -1ms
          max-idle: 8
          min-idle: 2
logging:
  level:
    com.cloud.product: debug
    com.baomidou.mybatisplus: debug
    org.springframework.cache: debug
    org.springframework.data.redis: debug
    org.springframework.cloud.openfeign: debug
    com.alibaba.nacos: warn
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
knife4j:
  enable: true
  production: false
  basic:
    enable: false






