<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.admin.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.cloud.admin.module.entity.Admin">
            <id property="id" column="id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="realName" column="real_name" />
            <result property="email" column="email" />
            <result property="phone" column="phone" />
            <result property="role" column="role" />
            <result property="status" column="status" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
            <result property="createBy" column="create_by" />
            <result property="updateBy" column="update_by" />
            <result property="deleted" column="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,real_name,email,phone,
        role,status,created_at,updated_at,create_by,
        update_by,deleted
    </sql>
</mapper>
